@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300;500;700&display=swap');

@font-face {
    font-family: 'Coffee_At_Midnigh';
    src: local('Coffee_At_Midnight'), local('Coffee_At_Midnight'),
        url('/assets/fonts/Coffee_At_Midnight.woff') format('woff'),
        url('/assets/fonts/Coffee_At_Midnight.ttf') format('truetype');
    font-style: normal;
  }