<header>
    <div class="collapse menu" id="navbarToggleExternalContent">
        <div class="menu-inner">
          <ul class="menu-list">
            <li class="menu-list_li"><a class="menu-li-link" href="#home">Home</a></li>
            <li class="menu-list_li"><a class="menu-li-link" href="">Portfolio</a></li>
            <li class="menu-list_li"><a class="menu-li-link" href="#skills">Skills</a></li>
            <li class="menu-list_li"><a class="menu-li-link" href="">Contact</a></li>
          </ul>
        </div>
      </div>
      <nav class="nav-bar">
        <div class="container">
          <button class="navbar-toggler nav-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-icon"></span>
          </button>
        </div>
      </nav>
</header>